/* Base 7f063a, dark 33081a or 0c424c, light 8c8015 or 00abcc */
/* Base e384af, dark 96486c or 508c96, light e8e09e or 55a3b0 */
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(/images/rainbow_swirl800x800.png);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #3d2e00;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px; }

#page-header {
  background-color: #fcfaf2;
  width: 800px;
  margin: 10px auto 5px auto;
  border: 5px outset black;
  padding: 10px; }
  #page-header h1 {
    margin-bottom: 5px;
    border-bottom: 4px ridge #3d2e00;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 42px;
    text-shadow: 5px 5px 5px #888888; }
  #page-header nav {
    display: inline-block;
    height: 22px;
    margin-bottom: 5px;
    font-size: 11px; }
    #page-header nav ul {
      list-style-type: none;
      margin: auto; }
    #page-header nav li {
      height: 22px;
      background-color: #7a5c00;
      border: 3px solid #fcfaf2;
      padding-left: 10px;
      padding-right: 10px;
      font-variant: small-caps;
      float: left; }
      #page-header nav li a {
        color: #fcfaf2;
        font-weight: bold;
        font-variant: small-caps;
        text-decoration: none;
        display: block;
        /* makes whole block clickable (instead of just text) */
        line-height: 22px; }

#page {
  background-color: #fcfaf2;
  width: 800px;
  margin: 5px auto 20px auto;
  border: 5px outset black;
  padding: 10px; }
  #page ul {
    margin-left: 15px; }

/* Home/index page */
#home {
  margin: 30px 80px;
  font-family: Georgia, serif; }
  #home a:link, #home a:visited {
    text-decoration: none; }
  #home a:hover {
    color: #0000ff;
    text-decoration: underline; }
  #home a:active {
    color: #ff0000;
    text-decoration: underline; }
  #home h2 {
    margin: 1em 0;
    text-align: center; }
  #home p {
    margin: 1em 0;
    text-align: justify; }
  #home section header {
    margin-bottom: 0.5em;
    font-size: 2em; }
  #home section ul {
    margin-bottom: 1em; }
  #home section li {
    list-style-type: none; }
  #home .hilite {
    text-shadow: 5px 5px 5px #ffff99; }

div#search {
  margin: 10px 0;
  font-size: 12px; }

div#toolbar {
  clear: both;
  width: 800px;
  margin: 10px 0 10px 0;
  padding: 5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px; }
  div#toolbar a {
    text-decoration: none; }
  div#toolbar .pagination {
    display: inline-block; }

table.sortable {
  width: 800px;
  border-collapse: collapse;
  border: 1px solid #777777;
  font: 12px arial, sans-serif;
  /* Directional arrow on current sort column */ }
  table.sortable th, table.sortable #resume #profile td, #resume #profile table.sortable td, table.sortable td {
    border: 1px solid #777777;
    padding: 3px; }
  table.sortable th, table.sortable #resume #profile td, #resume #profile table.sortable td {
    background-color: #7a5c00; }
    table.sortable th a, table.sortable #resume #profile td a, #resume #profile table.sortable td a {
      color: #fcfaf2;
      text-decoration: none; }
  table.sortable th .current, table.sortable #resume #profile td .current, #resume #profile table.sortable td .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center; }
  table.sortable th .asc, table.sortable #resume #profile td .asc, #resume #profile table.sortable td .asc {
    background-image: url(/images/up_arrow.png); }
  table.sortable th .desc, table.sortable #resume #profile td .desc, #resume #profile table.sortable td .desc {
    background-image: url(/images/down_arrow.png); }

.center {
  text-align: center; }

.clear {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.inline-block {
  display: inline-block; }

.smaller-inline-block {
  font-size: smaller;
  display: inline-block;
  margin: auto 10px; }

fieldset {
  background: #efe;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  /* Old Firefox */ }

legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em; }

p.instructions {
  font-size: smaller; }

ul.instructions {
  margin-left: 30px;
  font-size: smaller; }

/* Concours pages */
#concours {
  font-family: Georgia, serif; }
  #concours a:link, #concours a:visited {
    color: #3d2e00; }
  #concours a:hover {
    color: #0000ff; }
  #concours a:active {
    color: #ff0000; }
  #concours img {
    padding: 5px; }
  #concours li {
    line-height: 150%; }
  #concours p {
    margin-bottom: 1em; }
  #concours .middle {
    vertical-align: middle; }
  #concours .indent {
    margin-left: 20px; }
  #concours .column {
    width: 370px;
    display: inline-block;
    margin: 10px;
    vertical-align: top; }
  #concours #pic1 {
    width: 370px;
    padding-top: 60px; }
  #concours #pic2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto; }
  #concours #pic3 {
    width: 370px; }

/* Resume page */
#resume * {
  font: 13px Tahoma, Arial, Helvetica, sans-serif; }
#resume h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px; }
#resume h2 {
  font-size: 1.1em;
  font-weight: bold; }
#resume a {
  color: black;
  text-decoration: none; }
#resume a:hover {
  color: blue;
  text-decoration: underline; }
#resume #contact {
  display: none; }
#resume #profile table {
  margin-top: 5px;
  margin-left: 14px; }
#resume #profile th, #resume #profile td {
  text-align: left;
  vertical-align: top;
  padding-top: 6px; }
#resume #profile td {
  padding-left: 10px; }
#resume #education h2 {
  margin-top: 10px;
  margin-bottom: 5px; }
#resume #education sup {
  font-size: 0.6em; }
#resume #experience .job {
  padding-top: 5px;
  padding-bottom: 10px; }
#resume #experience .title {
  font-weight: bold; }
#resume #experience .block-text {
  padding-top: 5px;
  padding-left: 10px; }

/* Vision page */
#vision {
  font-family: Georgia, serif article;
    font-family-margin-bottom: 20px; }
  #vision h1 {
    font-family: "Comic Sans MS", cursive, sans-serif; }
  #vision p {
    margin-top: 1em; }
  #vision dl {
    margin: 0 20px; }
  #vision dt {
    font-weight: bold;
    padding: 3px 0; }
  #vision dd {
    margin-left: 15px;
    font-size: 90%; }
    #vision dd ul {
      margin-left: 30px; }
  #vision .plaque {
    width: 50%;
    background-color: white;
    color: #0000cc;
    margin: 1em auto;
    border: 6px outset #3d2e00;
    padding: 10px;
    text-align: center;
    font-size: 1.1em; }
  #vision #collage {
    width: 360px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 20px 10px 100px; }
  #vision #sidebar {
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
    padding: 5px;
    text-align: justify;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 90%;
    color: black; }

/* Other Interests page */
#interests header {
  clear: both;
  font-size: 1.5em;
  color: #3D5C00;
  padding-top: 15px;
  padding-bottom: 10px; }
#interests div.img {
  margin: 5px;
  border: 1px solid blue;
  height: auto;
  width: auto;
  float: left;
  text-align: center; }
#interests div.img img {
  display: inline;
  margin: 3px;
  border: 1px solid white; }
#interests div.img a:hover img {
  border: 1px solid blue; }
#interests div.desc {
  text-align: center;
  font-weight: normal;
  font-size: 75%;
  width: 120px;
  margin: 2px; }
#interests article#garden img {
  float: right;
  padding: 5px 0 5px 5px; }
#interests article#garden p {
  padding: 0 0 0.5em 0; }
#interests article#herbs {
  margin-bottom: 10px; }
  #interests article#herbs img {
    float: left;
    padding: 5px 5px 5px 0; }
  #interests article#herbs p {
    padding: 0 0 0.5em 0; }

/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline; }

.fieldWithErrors * {
  background-color: red; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }
