/* Stylesheet for résumé */
body {
  background-color: FloralWhite;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 800px;
  margin: 0;
  padding: 0; }

body > header {
  width: 800px;
  border-bottom: 4px ridge black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3em;
  text-shadow: 5px 5px 5px #888888; }

.left {
  float: left; }

.right {
  float: right; }

.content {
  font-size: 12px;
  float: right;
  background-color: FloralWhite;
  padding: 10px; }

h1 {
  font-size: 20px; }

#name {
  font-size: 26px;
  font-weight: bold; }

.block-text {
  margin: 10px;
  clear: both; }

.border-bottom {
  border-bottom: 1px solid gray; }

#education li {
  font-family: Times New Roman, Times, serif; }

#education .name {
  font-family: Tahoma, Arial, Helvetica, sans-serif; }

#profile table {
  margin-left: 30px;
  border-collapse: collapse; }

#profile th, td {
  vertical-align: top;
  padding: 5px 0 5px 0; }

#profile th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  font-style: oblique; }

#profile td {
  padding-left: 10px; }
