<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>
      Beth Giobbe | Portfolio
    </title>
    <%= stylesheet_link_tag 'compiled/main' %>
  </head>
  <body>
    <header id='page-header'>
      <h1>Beth Giobbe</h1>
    </header>
    <div id='page'>
      <div id="home">
        <nav>
          <section>
            <header>Professional</header>
            <ul>
              <li><a href="/concours/index">Le Grand Concours: a Ruby-on-Rails consulting project</a></li>
              <li><a href="/resources/">Library History: a personal Ruby-on-Rails project</a></li>
              <li><a href="pages/resume">My R&eacute;sum&eacute;</a></li>
            </ul>
          </section>
          <section>
            <header><a href="pages/vision">Vision</a></header>
          </section>
          <section>
            <header><a href="pages/interests">Other Interests</a></header>
          </section>
        </nav>

        <hr/>
        <div id='why'>
          <h2>Why do I want to be an apprentice.io Apprentice?</h2>

          <p>After many years of software engineering, I am shifting my
            career focus to web development in pursuit of the 
            <a href='/pages/vision' style='text-decoration: underline;'>vision</a>
            my husband and I share. I plan to start a business that I can
            bring people into without extensive up-front training. I can't
            do that with traditional software development, but I could with web
            development. Web site development offers more scope for creativity
            and involves more diverse types of work, some of which require very
            little training to start.
          </p>
          <p>I am looking for a set of technologies and best practices that
            satisfy the values and level of professional excellence I have
            acquired as a software developer. So far I have adopted:
            <ul>
              <li>the model-view-controller (<em>MVC</em>) pattern,</li>
              <li><em>Ruby on Rails,</em></li>
              <li><em>HTML5</em> (recently up-revved from xhtml-strict),</li>
              <li><em>SASS</em>, and</li>
              <li><em>git</em>.</li>
            </ul>
          </p>
          <p>
            I can learn languages from tutorials on the web, but
            <span class='hilite'>I need to work with experienced web developers
            to catch the <em>rhythm and flow of agile, test-driven
            development</em> and to learn <em>professional best practices</em>
            and <em>how all the different technologies play together</em>.
            Apprentice.io is exactly what I have been looking for!</span>
          </p>
          <p>After the apprenticeship I plan to work for someone in the
            web industry for a while to gain expertise. When I eventually
            start my own business, my customers will be small organizations
            and sole proprietors from my personal network, outside the city.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
