<%#= stylesheet_link_tag "compiled/resume.css" %>

<div id="resume">

  <div id="contact">
    3 Kingsbury Street, Framingham, MA 01702 *
    508.879.1461 * bgiobbe@gmail.com
  </div>

  <div>
    <h1>Summary</h1>
    <p class="block-text">
      Senior software engineer changing careers seeks entry-level experience
      in web development with open-source and standards-based technologies.
    </p>
  </div>

  <div id="profile">
    <h1>Professional Profile</h1>
    <ul>
      <li>
        Excellent oral and written communication skills; able to 
        communicate on technical subjects with non-technical people
      </li>
      <li>Excellent troubleshooting and debugging skills</li>
      <li>
        Thorough, responsive, and creative; can zoom in and out among
        layers and levels of detail
      </li>
      <li>Experienced in all phases of software development</li>
      <li>
        MVC / Object-Oriented / Multithreaded / Real-Time / Embedded /
        Networking &ndash; client-side and server-side
      </li>
    </ul>       
    <table>
      <tr>
        <th><h2>Languages</h2></th>
        <td>Ruby, HTML, CSS, SASS, C, Javascript, Python, Java, C++, SQL, XML</td>
      </tr>
      <tr>
        <th><h2>Operating Systems</h2></th>
        <td>Mac OS X, Linux, Windows</td>
      </tr>
      <tr>
        <th><h2>Software</h2></th>
        <td>
          Ruby on Rails, Django;
          NetBeans, TextWrangler, Eclipse, Coda; git, cvs, PVCS<br />	    
          Microsoft Office: Word, Excel, Access, PowerPoint, Visio, Visual Studio
        </td>
      </tr>
    </table>
  </div> <!-- end of profile -->

  <div id="education">
    <h1>Relevant Education</h1>
    <p>
      <strong>BS/EE</strong>, Worcester Polytechnic Institute, Worcester, Massachusetts, 1983.
    </p>
    <h2>Professional Development</h2>
    <ul>
      <li>Software Engineering for Software as a Service (SaaS), UC Berkeley online course, Armando Fox/David Patterson.</li>
      <li>Web Applications, <a href="http://openclassroom.stanford.edu/MainFolder/CoursePage.php?course=WebApplications">Stanford Open Classroom</a>, John Ousterhout, in progress.</li>
      <li>Introduction to Databases, Stanford University online course, Jennifer Widom, Fall 2011.</li>
      <li>The Java<sup>TM</sup> Tutorials, <a href="http://docs.oracle.com/javase/tutorial/">http://docs.oracle.com/javase/tutorial/</a>, all "Trails Covering the Basics", February 2011.</li>
      <li>Introduction to Web Design, Massachusetts Bay Community College, Fall 2002.</li>
      <li>Introduction to Java Programming, WPI Continuing Education, October 2000.</li>
      <li>The Object-Oriented Programming Paradigm with C++, WPI Continuing Education, June 1995.</li>
      <li>Object-Oriented Analysis and Design, WPI Continuing Education, June 1995.</li>
    </ul>
  </div> <!-- end of education -->

  <div id="experience">
    <h1>Relevant Experience</h1>

    <article class="job">
      <div class="title">CONSULTANT</div>
      <div class="company">
        EMass Grand Concours,
        <a href='http://www.emassconcours.net/'>http://www.emassconcours.net/</a>
        (Jan 2012-present)
      </div>
      <div class="block-text">
        Fixing bugs and enhancing a website written in Ruby 
        on Rails, HTML, CSS, and Javascript. Redesigning the site.
      </div>
    </article>

    <article class="job">
      <div class="title">SR. SOFTWARE ENGINEER II</div>
      <div class="company">Raytheon Network-Centric Systems (NCS), Marlborough, MA (2008-2011)</div>
      <div class="company">Raytheon Integrated Defense Systems (IDS), Sudbury, MA (2005-2008)</div>
      <div class="block-text">
        Performed all phases of software development on multiple government and 
        defense industry projects: requirements specification and analysis,
        design, implementation, integration and testing, configuration and 
        change management, build and release.
        <ul>
          <li>
            Enhanced a legacy engineering tool in Java/Swing, more than 
            doubling its size and leaving it more maintainable.
          </li>
          <li>
            Created an object-oriented, GUI-based test console application 
            in Python/Tkinter.
          </li>
          <li>
            Supported junior developer in object-oriented design,
            code, and unit-test of a related embedded C++ application.
          </li>
          <li>
            Ported both the Python and C++ applications to a second target 
            environment.
          </li>
          <li>
            Fixed bugs and added new features to air traffic control 
            software, mostly in C on Solaris and Linux.
          </li>
        </ul>
      </div>
    </article>

    <article class="job">
      <div class="title">SR. SOFTWARE ENGINEER</div>
      <div class="company">
        Netsilicon, Waltham, MA (1999-2003)
        (Acquired by Digi International)
      </div>
      <div class="block-text">
        Performed embedded, multi-threaded software development for multifunction 
        peripheral (MFP) network interface cards (NIC) and printer 
        controllers:
        <ul>
          <li>
            Redesigned device management web pages in HTML with a little 
            JavaScript and customized them for many customer projects.
          </li>
          <li>
            Created client modules in C to send scanned images to FTP 
            server, web server, and email addresses.
          </li>
          <li>
            Ported Apple’s Rendezvous mDNS responder open-source module to 
            embedded environment.
          </li>
        </ul>
      </div>
    </article>

    <article class="job">
      <div class="title">SOFTWARE ENGINEER</div>
      <div class="company">
        Medisense, Inc., Bedford, MA (1996-1998)
        (Acquired by Abbott Laboratories)
      </div>
      <div class="block-text">
        <ul>
          <li>
            Performed real-time, embedded software development in C and
            assembly language on 8- and 16-bit microcontrollers for blood 
            glucose meters.
          </li>
          <li>Designed and implemented GUI-based tools in LabWindows/CVI.</li>
          <li>Wrote a small application for Mac.</li>
        </ul>
      </div>
    </article>

  </div> <!-- end of experience -->

</div> <!-- end of #resume -->
