<div id="vision">
  <h1>Vision</h1>
  <article>
    <p>Before my husband and I married, we met for breakfast every weekday for
      a couple months. As we got to know one another better over coffee and
      bagels, a vision formed between us that was partly from him and partly
      from me and delighted both of us. We don't know how to make it happen,
      but it has stuck with us for about 15 years now. Everyone we've described
      it to agrees that it <em>should</em> be done.</p>

    <p class='plaque'>
      An intentional community<br>
      that offers sanctuary to homeless young adults,<br>
      helps them find healing and direction,<br>
      and launches them into a life of their choosing.
    </p>

    <div id='collage'>
      <%= image_tag('vision_collage.png', :size => '360x251',
        :alt => 'characteristics of the vision') %>
    </div>
<div id='sidebar'>
<p>I'm shifting into web development because of the "entrepreneurial" part.</p>
<p> 
  The skills I have are technical. I need to start a business that I can bring
  young people into easily, without years of training. I can't see doing 
  that with software development, but I can with web development.
</p>
</div>
  </article>
</div>
