<div id="vision">
  <h1>Vision</h1>
  <article>
    <p>Before my husband and I married, we met for breakfast every weekday for
      a couple months. As we got to know one another better over coffee and
      bagels, a vision formed between us that was partly from him and partly
      from me and delighted both of us. We don't know how to make it happen,
      but it has stuck with us for about 15 years now. Everyone we've described
      it to agrees that it <em>should</em> be done.</p>

    <p class='plaque'>
      An intentional community that offers sanctuary to homeless young adults,
      <br/>helps them find healing and direction, and
      launches them into a life of their choosing.</p>

    <dl>
      <dt>Intentional</dt>
      <dd>A group of related and unrelated people who choose to live
      cooperatively as one family, sharing common values and working toward
      common goals.</dd>

      <dt>Self-supporting / Entrepreneurial</dt>
      <dd>The community owns and operates several businesses, generating
      wealth rather than soliciting donations. Different kinds of businesses
      offer our young adults different kinds of work to try, to find something
      that fits them.</dd>

      <dt>Agricultural</dt>
      <dd>The community practices sustainable agriculture and permaculture to
      care for its land, to supply its own food, share with its neighbors,
      and provide for the poor.</dd>

      <dt>Creative</dt>
      <dd>The community practices and teaches creative arts, like music,
      writing, drawing, dancing, wood-working.</dd>

      <dt>Organic</dt>
      <dd>The community is not an organization or a program. It creates policy
      as needed for the existing conditions. It values:<br/>
      <ul>
        <li>Individuals and relationships over policies and rules</li>
        <li>Voluntary collaboration over contractual obligation</li>
        <li>Responding to change over following a plan</li>
      </ul>
      (Nod given here to <a href='http://agilemanifesto.org/'>
      Manifesto for Agile Software Development</a>)
      </dd>

      <dt>Collaborative</dt>
      <dd>As we have shared this vision with friends and acquaintances, they
      in turn have shared theirs with us. Surprisingly, theirs can usually
      "plug in" to ours. The community will collaborate with other
      groups where there is potential for synergy.</dd>

      <dt>An asset to its neighbors</dt>
      <dd>The community will not be insular, but will find ways to benefit the
      people in the surrounding area.</dd>
    </dl>
  </article>
</div>
