// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$width: 800px;
$bg-color: #FCFAF2;
$bg-brighter: #FAF0E6;
$main-color: #3D2E00;
$default-border: 1px solid black;
$nav-bar-height: 22px;
$nav-bar-bg-color: #7A5C00;
$serif: Georgia, serif;
$cursive: "Comic Sans MS", cursive, sans-serif;

/* Home/index page */

#home {
  margin: 30px 80px;
  
  p {
    color: $main-color;
    background-color: $bg-color;
    font: 15px/21px $serif;
    margin: 1em 0;
    text-align: justify;
  }

  nav {
    border-top: 2px solid $main-color;
    padding-top: 15px;

    header {
      margin-bottom: 0.5em;
      font-size: 2em;
    }
    ul {
      margin-bottom: 1em;
      font-size: 1.1em;
      
      li {
        list-style-type: square;
      
        a {
          color: #00f;
          background-color: $bg-color;
          font-family: sans-serif;

          &:link, &:visited { text-decoration: none; }
          &:hover { text-decoration: underline; }
          &:active { color: #ff0000; text-decoration: underline; }
        }
      }
    }
  }
  .hilite { text-shadow: 5px 5px 5px #ffff99; }
}


.center { text-align: center; }
.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.inline-block { display: inline-block; }
.smaller-inline-block {
    font-size: smaller;
    display: inline-block;
    margin: auto 10px;
}

fieldset {
  background: #efe;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  -moz-border-radius: 10px; /* Old Firefox */
}
legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
p.instructions {
  font-size: smaller;
}
ul.instructions {
  margin-left: 30px;
  font-size: smaller;
}
li.instructions  {
}

/* Concours pages */

#concours {
  font-family: Georgia, serif;

  a {
    background-color: $bg-color;

    &:link, &:visited {
      color: $main-color;
    }
    &:hover { color: #0000ff; }
    &:active { color: #ff0000; }
  }
  img { padding: 5px; }
  li { line-height: 150%; }
  p { margin: {bottom: 1em; } }

  .middle { vertical-align: middle; }
  .indent { margin-left: 20px; }
  .column {
    width: 370px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }

  #pic1 { width: 370px; padding-top: 60px; }
  #pic2 { width: 300px; margin-left: auto; margin-right: auto; }
  #pic3 { width: 370px; }
}

/* Resume page */

#resume {
  * { font: 13px Tahoma, Arial, Helvetica, sans-serif; }
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: { top: 10px; bottom: 5px; }
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
  }
  a { color: black; text-decoration: none; }
  a:hover { color: blue; text-decoration: underline; }

  #contact { display: none; }
  #profile {
    table { margin: {top: 5px; left: 14px;} }
    th {
      text-align: left;
      vertical-align: top;
      padding-top: 6px;
    }
    td {
      @extend th;
      padding-left: 10px;
    }
  }
  #education {
    h2 {
      margin: { top: 10px; bottom: 5px; }
    }
    sup { font-size: 0.6em; }
  }
  #experience {
    .job { padding: {top: 5px; bottom: 10px;} }
    .title { font-weight: bold; }
    .block-text { padding-top: 5px; padding-left: 10px; }
  }
}

/* Vision page */

#vision {
  font-family: $serif

  article { margin-bottom: 20px; }
  h1 { font-family: $cursive; }
  p { margin-top: 1em; }
  dl { margin: 0 20px; }
  dt { font-weight: bold; padding: 3px 0; }
  dd { margin-left: 15px; font-size: 90%;
    ul { margin-left: 30px; }
  }
  .plaque {
    width: 50%;
    background-color: white;
    color: #0000cc;
    margin: 1em auto;
    border: 6px outset $main-color;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
  }
  #collage {
    width: 360px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 20px 10px 100px;
  }
  #sidebar {
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
    padding: 5px;
    text-align: justify;
    font-family: $cursive;
    font-size: 90%;
    color: black;
  }
}

/* Other Interests page */

#interests {
  $color: #3D5C00;

  header {
    clear: both;
    font-size: 1.5em;
    font-weight: bold;
    color: $color;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  div.img {
    margin: 5px;
    border: 3px groove $color;
    padding: 5px;
    height: 190px;
    width: auto;
    float: left;
    text-align: center;
  }
  div.img img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
  }
  div.img a:hover img { border:1px solid #0000ff; }
  div.desc {
    text-align:center;
    font-weight:normal;
    font-size: 75%;
    width:120px;
    margin:2px;
  }
  article#garden {
    img {
      float: right;
      padding: 5px 0 5px 5px;
    }
    p { padding: 0 0 .5em 0; }
  }
  article#herbs {
    height: 180px;
    margin-bottom: 10px;
    img {
      float: left;
      padding: 5px 5px 5px 0;
    }
    p { padding: 0 0 .5em 0; }
  }
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

