<div id="main">
  <p>
    <a href="http://www.frenchteachers.org/concours/gc_about/gc_about.htm">
      Le Grand Concours
    </a>
    is an annual competition run by the 
    <a href="http://www.frenchteachers.org/">
      American Association of Teachers of French
    </a>
    for students in grades 1-12 who study French. In the Eastern 
    Massachusetts region the contest is facilitated through the 
    <a href="http://www.emassconcours.net/">EMass Concours website</a>.
  </p>
  <p>  
    I have served as technical consultant to the administrator for this 
    region since January 2012 &mdash; fixing bugs, adding features, and 
    providing general technical advice. In order to show my best work on the
    site, I would have to provide administrator credentials, which is a very
    bad idea security-wise. This page will have to suffice to show my work
    so far.
  </p>
</div>
